/* GLOBAL 
-------------------------------------------------- */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* ABOUT
-------------------------------------------------- */
.headshot {

}


/* CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-action {
  display: flex;
  justify-content: center;
}

.carousel-btn {
  margin: 2rem;
}

/* STANDOUTS CONTENT
-------------------------------------------------- */
.standouts .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.standouts h2 {
  font-weight: 400;
}
.standouts .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 3rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin: .5rem;
}

/* CONTACT
------------------------- */
.social-shell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons li
{
    font-size: 20px;
    line-height: 96px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 96px;
    height: 96px;
    margin: 0;
    margin-right: 32px;
    text-align: center;
    color: white;
    border-radius: 100%;
    background: none;
}

.social-icons li:last-child
{
    margin-right: 0;
}

.social-icons li:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: .15s ease;
    transform: scale(1);
    border-radius: 100%;
    background: #aa83d6;
}

.social-icons li:hover:before
{
    transform: scale(0);
}

.social-icons li:after
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: .15s ease;
    transform: scale(0);
    border-radius: 100%;
    background: black;
    ;
}

.social-icons li:hover:after
{
    transform: scale(1);
}

.social-icons li a
{
    font-size: inherit;
    position: relative;
    z-index: 3;
    display: block;
    color: #fff;
    border: none;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
/* Min widths */
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}


/* Max widths */
@media screen and (max-width: 976px) {
  .featurette-heading {
    margin-top: 1rem;
  }

  .lead {
    padding-left: 5px;
  }
}


@media screen and (max-width: 668px) {
  .carousel-action {
  flex-direction: column;
  }
  
  .carousel-btn {
    margin: .5rem;
  }
} 